In [4]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

In [2]:
sqlEngine       = create_engine('mysql+pymysql://root:secret@127.0.0.1/football_data', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [7]:
df_matches = pd.read_sql_query("SELECT * FROM matches", sqlEngine)
df_stats_matches = pd.read_sql_query("SELECT * FROM stats_matches", sqlEngine)

In [9]:
df_stats_matches.describe()

,BALL_POSSESSION,GOAL_ATTEMPTS,SHOTS_ON_GOAL,SHOTS_OFF_GOAL,BLOCKED_SHOTS,FREE_KICKS,CORNERS,OFFSIDES,THROW_IN,GOALKEEPER_SAVES,FOULS,YELLOW_CARDS,RED_CARDS,COMPLETED_PASSES,TACKLES,ATTACKS,DANGEROUS_ATTACKS
count,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000,45420.000000
mean,50.000088,8.149714,3.333554,2.997886,3.395244,1.756583,8.972655,1.358080,5.448965,2.098987,8.562660,1.380757,0.067635,144.809599,5.995376,43.190401,20.168384
std,11.876308,4.880324,2.521441,2.326532,2.449843,1.886616,5.454539,1.416548,8.366899,1.882013,4.512274,1.293659,0.263445,178.635363,6.739717,42.572888,21.844383
min,12.000000,-1.000000,-1.000000,-1.000000,-1.000000,-2.000000,-7.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,-146.000000,-12.000000,0.000000,0.000000
25%,42.000000,5.000000,1.000000,1.000000,2.000000,0.000000,5.000000,0.000000,0.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50.000000,7.000000,3.000000,3.000000,3.000000,1.000000,8.000000,1.000000,0.000000,2.000000,8.000000,1.000000,0.000000,0.000000,5.000000,44.000000,17.000000
75%,58.000000,11.000000,5.000000,4.000000,5.000000,3.000000,12.000000,2.000000,10.000000,3.000000,11.000000,2.000000,0.000000,256.000000,10.000000,69.000000,33.000000
max,88.000000,43.000000,20.000000,22.000000,23.000000,17.000000,38.000000,10.000000,46.000000,20.000000,33.000000,9.000000,3.000000,1058.000000,38.000000,204.000000,153.000000

In [ ]:
df_stats_matches

In [10]:
df_matches.describe()

,ROUND,GOALS_H,GOALS_A,ODDS_HOME,ODDS_HOME_X,ODDS_AWAY,ODDS_AWAY_X,TEMPERATURE,RAIN,HUMIDITY,CLOUDY,WIND
count,3785.000000,3785.000000,3785.000000,3785.000000,3785.000000,3785.000000,3785.000000,3785.000000,3785.000000,3785.000000,3785.000000,3785.000000
mean,18.223514,1.519947,1.183091,2.841321,1.510338,4.793498,2.053057,13.064729,0.420766,69.126816,44.727081,13.898283
std,10.683894,1.304037,1.155705,2.180360,0.633075,4.258759,1.178123,7.182445,1.467211,16.846866,35.736834,8.736328
min,1.000000,0.000000,0.000000,-1.000000,0.490000,-1.000000,0.490000,-11.000000,0.000000,12.000000,0.000000,0.000000
25%,9.000000,1.000000,0.000000,1.660000,1.150000,2.370000,1.370000,8.000000,0.000000,58.000000,10.000000,7.000000
50%,18.000000,1.000000,1.000000,2.200000,1.320000,3.400000,1.680000,13.000000,0.000000,71.000000,37.000000,12.000000
75%,27.000000,2.000000,2.000000,3.100000,1.590000,5.500000,2.230000,18.000000,0.200000,83.000000,80.000000,19.000000
max,38.000000,9.000000,7.000000,23.000000,8.660000,34.000000,14.370000,37.000000,31.100000,100.000000,100.000000,57.000000